body, html{
    height: 850px;
}


header{
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    margin-left: -1%;
    margin-top: -0.5%;
    background: black;
    float: left;
    position: fixed;
}


header #logo{
    color: dodgerblue;
    cursor: pointer;
}


header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Rubik', sans-serif;
}


@media (min-width: 701px) {
    #logo{
        float: left;
        width: 30%;
        font-size: 1.1em;
    }
}

@media (max-width: 700px) {
    #logo{
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
}


.fixed{
    z-index: 5000;
    background-color: black;
    border-bottom: 1px solid silver;
}

header.fixed #logo{
    color: #ffc107;
}
